1. Read the `apps.csv` file and clean the `Installs` column to convert it into integer data type. Save your answer as a DataFrame `apps`. Going forward, you will do all your analysis on the apps DataFrame.

2. Find the number of apps in each category, the average price, and the average rating. Save your answer as a DataFrame `app_category_info`. Your should rename the four columns as: `Category`, `Number of apps`, `Average price`, `Average rating`.

3. Find the top 10 free `FINANCE` apps having the highest average sentiment score. Save your answer as a DataFrame `top_10_user_feedback`. Your answer should have exactly `10` rows and two columns named: `App` and `Sentiment Score`, where the average Sentiment Score is sorted from highest to lowest.

In [1]:
import pandas as pd, numpy as np, string

remove = list(string.punctuation)
apps = pd.read_csv('apps.csv')

for i in remove:
    apps['Installs'] = apps['Installs'].str.replace(i, '')    

apps['Installs'] = apps['Installs'].astype(int)
apps.dtypes

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  import sys

App              object
Category         object
Rating          float64
Reviews           int64
Size            float64
Installs          int64
Type             object
Price           float64
Last Updated     object
dtype: object

In [2]:
num = apps.groupby('Category')['App'].count()
avg = apps.groupby('Category')['Price', 'Rating'].mean()

# ควรใช้ .agg({'App':'count', 'Price':'mean', 'Rating':'mean'})

app_category_info = pd.concat([num, avg], axis=1).reset_index()
app_category_info.rename(columns={'App':'Number of apps', 'Price':'Average price', 'Rating':'Average rating'}, inplace=True)
app_category_info

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

               Category  Number of apps  Average price  Average rating
0        ART_AND_DESIGN              64       0.093281        4.357377
1     AUTO_AND_VEHICLES              85       0.158471        4.190411
2                BEAUTY              53       0.000000        4.278571
3   BOOKS_AND_REFERENCE             222       0.539505        4.344970
4              BUSINESS             420       0.417357        4.098479
5                COMICS              56       0.000000        4.181481
6         COMMUNICATION             315       0.263937        4.121484
7                DATING             171       0.160468        3.970149
8             EDUCATION             119       0.150924        4.364407
9         ENTERTAINMENT             102       0.078235        4.135294
10               EVENTS              64       1.718594        4.435556
11               FAMILY            1832       1.309967        4.179664
12              FINANCE             345       8.408203        4.115563
13       FOOD_AND_DRINK             112       0.075714        4.172340
14                 GAME             959       0.296465        4.247368
15   HEALTH_AND_FITNESS             288       0.223438        4.243033
16       HOUSE_AND_HOME              74       0.000000        4.150000
17   LIBRARIES_AND_DEMO              84       0.011786        4.178125
18            LIFESTYLE             369       6.398022        4.093355
19  MAPS_AND_NAVIGATION             131       0.205725        4.036441
20              MEDICAL             395       2.520759        4.166552
21   NEWS_AND_MAGAZINES             254       0.015669        4.121569
22            PARENTING              60       0.159667        4.300000
23      PERSONALIZATION             376       0.400213        4.332215
24          PHOTOGRAPHY             281       0.420925        4.157414
25         PRODUCTIVITY             374       0.670936        4.183389
26             SHOPPING             202       0.027129        4.230000
27               SOCIAL             239       0.066820        4.247291
28               SPORTS             325       0.307692        4.216154
29                TOOLS             827       0.323156        4.039554
30     TRAVEL_AND_LOCAL             219       0.228082        4.069519
31        VIDEO_PLAYERS             163       0.064172        4.044595
32              WEATHER              79       0.410380        4.243056

In [4]:
reviews = pd.read_csv('user_reviews.csv')
merge = apps.merge(reviews)
top_10_user_feedback = merge[merge['Category']=='FINANCE'][['App', 'Sentiment Score']].groupby('App').mean().sort_values(by='Sentiment Score', ascending=False).head(10)
top_10_user_feedback

                                            Sentiment Score
App
BBVA Spain                                         0.515086
Associated Credit Union Mobile                     0.388093
BankMobile Vibe App                                0.353455
A+ Mobile                                          0.329592
Current debit card and app made for teens          0.327258
BZWBK24 mobile                                     0.326883
Even - organize your money, get paid early         0.283929
Credit Karma                                       0.270052
Fortune City - A Finance App                       0.266966
Branch                                             0.264230